.footer-wrapper {
    display: flex;
    justify-content: space-evenly;
    background: black;
    height: 155px;
    color: white;
    margin: 0px -8px -8px -8px;
}

.footer-wrapper > .info {
    display: flex;
    align-items: baseline;
    justify-content: center;
    letter-spacing: 1px;
    background: gray;
    border: 2px;
    border-color: black;
    height: 50px;
    width: 100%;
}

.footer-wrapper > .info h1 {
    font-size: 1.5em;
}